[2018-03-08 17:41] joelanman opened #112 "Add a tutorial on loading data from JSON"
This is a common need, to know how to store data in JSON and use it in templates.

Secondarily, to get JSON remotely (say from an API) and use it in templates. The kit includes `sync-request` to do this.

[2018-08-29 15:18] joelanman opened #113 "Document how to deal with checkboxes in data"
Checkboxes create an array of values.

Simply printing out the values gives a default comma separated list: `a,b,c`

It would be good document how to:

 - use the `| join` filter
 - use a `for` loop
 - check a value is in the array (a user selected a particular checkbox)

[2018-09-10 10:41] ghost opened #114 "Needing more than one beforeContent"
A team followed the guidance on adding a phase banner to layout.html in a `{% block beforeContent %}`. But when they added another `{% block beforeContent %}` to a page for the back link, the phase banner disappeared.

You can get round this problem using a `{{ super() }}` in the block on the page.

Should this be part of the guidance? Or does the guidance about adding a global phase banner on [ti

[2019-04-05 10:07] joelanman opened #139 "Properly document config.js"
Related to alphagov/govuk-prototype-kit#719 which was better solved by setting a different default port - this is not in the kit documentation

https://github.com/alphagov/govuk-prototype-kit/blob/main/app/config.js

[2019-04-24 10:43] joelanman opened #188 "Plugins - Add documentation for plugins"
## What

Add documentation for Plugins

Plugin notes:

https://docs.google.com/document/d/11yuUfSLT47yunW5HHTraBV1KBxbE5cYxO-NNb935Iq0/edit#

Create a plugin guide draft:
https://docs.google.com/document/d/1xLETvJApivoUiBw4enajmEKYp-07ItAQW0O7cBuesws/edit#

PR:
https://github.com/alphagov/govuk-prototype-kit-docs/pull/231

## Why

So people can write and use them

## Who
- Developer (initially for

[2019-04-30 10:11] joelanman opened #136 "It's not clear how to log data"
There are two ways to log data - using `console.log` in routes and using the `log` filter in templates. Neither are currently documented

[2019-05-07 15:03] joelanman opened #1 "Add analytics logic from current site"
This was removed from the base Prototype Kit

[2019-05-08 11:23] #1 closed

[2019-05-08 11:25] joelanman commented on #3
This has value, however there's also value in trying to run this project like one of our users, to make sure instructions work (for example updating). If we want to do that (and that's up for discussion) we need to try and work just in `/app`.

Also `package-lock.json` is .gitignored by the kit

[2019-10-22 16:00] m-green opened #137 "Add a page on using GOV.UK Pay in your prototype"
In the Prototype Kit documentation, there's guidance on how to use [Verify](https://govuk-prototype-kit.herokuapp.com/docs/using-verify) and [Notify](https://govuk-prototype-kit.herokuapp.com/docs/using-notify) in your prototype - but not Pay.

There's some information in the [Testing your integration page](https://docs.payments.service.gov.uk/testing_govuk_pay/#testing-your-integration) of the Pa

[2019-11-04 15:09] terrysimpson99 opened #132 "Create branching checkbox example"
There's a branching example showing radio buttons at ``https://govuk-prototype-kit.herokuapp.com/docs/examples/branching. See:
![image](https://user-images.githubusercontent.com/48089049/68131405-ea7cff80-ff14-11e9-9944-f9d538880b2c.png)

Please can a similar example be produced showing checkboxes?

[2019-11-06 14:39] NickColley commented on #137
We should consider asking GOV.UK Pay if they want to contribute this in the future, or work in collaboration with them.

[2019-11-07 11:24] NickColley commented on #132
Hey Terry,

We're aware of the branching example for radios not being that user friendly so want to improve this in the future, when we do that work we'll keep this in mind.

In the meantime I've put together an example that should help you, the main difference from a code point of view is that when using checkboxes you end up with multiple values to check rather than a single value. This means yo

[2019-11-07 12:13] joelanman commented on #132
Nick's example logic is `includes` - which means 'banana' and optionally any other checkbox is selected.

~If you want *just* 'banana' and nothing else selected you need:~

~if (fruits == ['banana']) {~

*edit*

Sorry, my code was wrong, you can't compare arrays like that in JavaScript. Here's one of the simpler solutions:

https://stackoverflow.com/a/23555773

[2019-11-07 12:22] terrysimpson99 commented on #132
This is excellent help, promptly given. Thank you very much. I haven't got it working yet because I have been drawn into other tasks but I'm hopeful of getting it working.

[2020-02-21 14:13] joelanman opened #138 "Document how to set variables from links"
(From a support request)

Sometimes it's useful to set or reset a variable from a link.

You can do that by using links with query strings like this:

[code]

This will set `count` to zero in session data (`data['count']`)

[2020-02-26 13:59] hannalaakso opened #135 "Make it easier to find support details in docs"
Raising this on behalf of a user who couldn't find our contact details in the kit docs. They'd looked at the [main docs page](https://govuk-prototype-kit.herokuapp.com/docs) but had missed the subheading "Get support" under "About" (they eventually got our contact details from a slide deck someone shared with them).

It feels like our support details are important enough to be in their own section

[2020-02-27 12:37] joelanman opened #2 "Remove Design System specific content, code and tests"
## What

Remove Design System specific content, code and tests

## Why

We need to remove this content, code and tests before we start adding Prototype Kit content because it's not relevant to the Prototype Kit

[2020-02-27 17:26] joelanman opened #134 "Investigate hosting working examples in the Prototype Kit"
## What

Investigate hosting existing working examples in the Prototype Kit

## Why

The new docs site is going to be a static site, so it can't host the existing working examples:

 - [Passing data from page to page](https://govuk-prototype-kit.herokuapp.com/docs/examples/pass-data)
 - [Branching](https://govuk-prototype-kit.herokuapp.com/docs/examples/branching)

These examples could be hosted i

[2020-02-27 17:41] joelanman opened #3 "Create deploy process for new Prototype Kit Docs"
## What

Create deploy process for new Prototype Kit Docs, based on the Design System deploy process.

We should start by deploying to the current docs URL, https://govuk-prototype-kit.herokuapp.com, to avoid the need to change the code substantially or add a redirect.

However, I would suggest not immediately using govuk-prototype-kit.herokuapp.com, but instead starting with https://govuk-prototy

[2020-02-27 17:43] joelanman opened #4 "Publish new Prototype Kit docs"
## What

Publish new Prototype Kit docs at https://govuk-prototype-kit.herokuapp.com.

If we follow the method suggested in https://github.com/alphagov/govuk-prototype-kit-docs/issues/3, this should just be a case of renaming/repointing the two apps.

## Why

So we are serving docs from the app in this repo, rather than from the main repo.

## Who needs to do this

Developer

## Who needs to revie

[2020-03-02 14:50] 36degrees commented on #135
@joelanman do you think this is fixed by alphagov/govuk-prototype-kit#857 ?

[2020-03-10 10:42] joelanman commented on #135
@36degrees sorry for the delay! Yeh the new design currently looks like this, with a support link:

![image](https://user-images.githubusercontent.com/1132904/76304772-d7f84580-62bb-11ea-8e28-c91464524253.png)

[2020-03-30 12:14] #2 closed, assigned to joelanman

[2020-04-06 12:11] paulmsmith commented on #188
This gets an up-vote from me 👍

At the National Lottery Heritage Fund we are using the prototype-kit 'unbranded'.

## Questions I have:
### How do I use an existing extension with the prototype kit?
Such as [HMRC Frontend](https://github.com/hmrc/hmrc-frontend)

### How do I create my own organisation/project specific extension?
Am I correct in believing that would more nicely separate the bundled

[2020-06-17 14:02] hannalaakso commented on #113
I think this card is mostly about Nunjucks but related to this, a question came up on support where a user was trying to check in `routes.js` whether the value of checkboxes equalled a certain value. To do this, you first need to check that you're dealing with an array and then check if the array contains the value.

This seems like a very common use case so it would be good to document it.

[2020-06-17 14:17] liammcmurray commented on #113
☝️ It was me.
There is a clickwrap pattern that comes up repeatedly when creating prototypes to test with users, where we have a screen where the user is presented with a condition for continuing and must confirm by checking a box.
I've seen other designers use a yes/no radio set to get around this just for proving the concept, but it'd be better to have documentation and ideally an example with a

[2020-06-17 14:24] edwardhorsford commented on #113
One way I've dealt with similar things before is to coerce the result to always be in an array - that way when you're checking the answers, the methods are all consistent.

[2020-06-17 15:03] joelanman commented on #113
yeh in the prototype kit checkboxes are always an array, or if nothing is selected I guess its undefined or null. So you could have a check which is something like:

[code]

or

[code]

[2020-06-18 14:41] joelanman commented on #113
just wanted to record a mistake I made on this recently - in JavaScript you *cannot* compare arrays like this:

[code]
probably the simplest workaround is to make a compare function:

[code]
then you can use it:
[code]

[2020-08-18 12:42] joelanman opened #130 "the "how to pass data" guide has confusing code examples"
https://govuk-prototype-kit.herokuapp.com/docs/examples/pass-data

the "Showing answers in inputs " section has example code that doesn't include any GOV.UK Frontend classes

might be better to have full examples with GOVUK Frontend code

[2020-08-24 13:50] hannalaakso commented on #130
On the basis of discussing this with the team we'd like to use the macros to generate the HTML for these examples so that it doesn't get out of sync with GOV.UK Frontend code. However if this isn't possible without spending more than the triaged 'hours' on this we should just hardcode the examples to use GOV.UK Frontend HTML.

[2021-08-09 10:43] joelanman opened #140 "Review the About/Support page"
**What**
It's not clear that support is on the About page (#865) and the About page has some fairly unconnected stuff on it
More content needs to be added to the About/support page

**Why**
As a new user, it would be helpful to know more about what the Kit looks like and how it works before I download everything, so I know what to expect and know it is something I would use
As a user, I want to be

[2021-11-10 14:13] joelanman opened #133 "Clearer instructions for installing Git for Windows"
Installing git for windows is quite a long process, and defaults to using vim for text editor which is not a simple editor. We could add more detail on the git for windows installation process

[2021-12-07 12:02] Izabela-16 commented on #133
Backlog

[2021-12-09 09:13] domoscargin opened #111 "Header nav doesn't indicate active page"
The Kit uses a [header with navigation](https://design-system.service.gov.uk/components/header/#header-with-service-name-and-navigation), but doesn't indicate active pages.

We should ensure that pages in the navigation menu are flagged as active as appropriate.

There are 3 links in our navigation menu, but plenty of sub-pages - so we also need to answer the question of whether we treat the menu

[2022-01-06 08:54] domoscargin opened #131 "Can we automatically generate the "Tutorials and examples" links?"
Currently, we hardcode all the links on this page: https://github.com/alphagov/govuk-prototype-kit/blob/main/docs/views/tutorials-and-examples.html

Recently, we've been working on [updating page titles](#1186), which means manually updating this page, which brings the risk of things getting out of sync in the future.

Can we instead generate these automatically? Perhaps we can use the frontmatter

[2022-01-17 08:38] domoscargin opened #119 "Make our "next" links better"
Currently, our "next" links for documentation are a bit utilitarian:
![The Prototype Kit documentation "next" link - currently just some text that says "Next (link your pages together)" all on one line](https://user-images.githubusercontent.com/22524634/149735028-cacc5514-d7ac-4d0b-acd1-10eaca25fe79.png)

It might be good to explore something like GOV.UK Publishing Components' [Previous and next n

[2022-01-19 08:48] domoscargin opened #37 "Generate and implement heading captions"
## Done when

- [x] Captions are decided
- [x] Captions are technically implemented

Captions will be added to this spreadsheet:
https://docs.google.com/spreadsheets/d/1Y-c8e_syvu2hT8jLr0yNKigNAGpf1yU7WJlal3iLSIs/edit#gid=573269404

## Detail

On [some documentation pages](https://github.com/alphagov/govuk-prototype-kit/blob/main/docs/documentation/make-first-prototype/let-user-change-answers.md),

[2022-02-17 13:48] lfdebrux commented on #37
Chatted to @domoscargin about this to get more context, as it's not immediately clear where the captions come from.

The captions were added in PR alphagov/govuk-prototype-kit#1186, as part of the content review of the prototype kit pages. The idea of the caption was that it would be the same as the sections on the docs index page, to help the user see where they are in the documentation; for inst

[2022-02-22 11:57] trang-erskine commented on #37
Blocked until @NoraGDS is back from leave

[2022-03-15 10:00] Izabela-16 commented on #37
@NoraGDS please have a look and if you will have any questions then please shout.

[2022-04-21 10:20] NoraGDS commented on #37
Captions in column G: https://docs.google.com/spreadsheets/d/1Y-c8e_syvu2hT8jLr0yNKigNAGpf1yU7WJlal3iLSIs/edit#gid=573269404

[2022-05-18 10:28] lfdebrux opened #22 "Update docs with latest changes from Prototype Kit repo"
## What

Things have diverged a bit since we last looked at this, we need to refresh the content in this repo.

We should pull in the necessary stuff from the Prototype Kit repo to bring these docs up-to-date with the docs there.

I'd also like to consider whether we should also bring through the app infrastructure. This would allow us to quickly deploy to Heroku, publish, and then iterate later,

[2022-05-18 11:24] joelanman opened #141 "Document common ways to do journey branching"
The documentation only covers branching journeys using radios. It would be useful to cover in more detail, including checkboxes, and possibly text boxes.

## Who needs to do this work

@joelanman to lead on testing with users

## Who needs to review this work

Content designer PM @ruthhammond

## Done when

- [x] Guidance has been drafted
- [x] Guidance has been tested with users
- [x] Guidance on

[2022-05-26 12:27] joelanman opened #142 "Document other methods of setting data"
We had a couple of support requests for this scenario: Optionally set data for one journey but not others. Default session data will set the data for all journeys.

There are different ways to do this:

 - in a URL via a link (`/start?name=Joe`)
 - on a page using a form with hidden or visible inputs
 - in routes.js

## Who needs to work on this
- content designer

## Who needs to review this
- in

[2022-05-26 13:30] mazzabodwin-dit commented on #142
I was also unware of the following methods (or have never found/ understood it the guidance!):
`value: data['my-data'] or 'my-default-data'`

`{{ data['my-data'] or "my-default-data" }}`

`{{ data['my-value'] | default("Fallback text") }}`

[2022-05-31 10:26] Izabela-16 commented on #142
@joelanman to update the ticket with the template card / issue

[2022-06-22 09:24] lfdebrux commented on #22
I'm trying to decide whether to rewrite the history of the main branch, or to try and merge in the content of the prototype kit repo. I'm leaning towards rewriting history, because it might make serving older versions easier later down the line.

I've put the history for the original main branch in a new branch [from-govuk-design-system](https://github.com/alphagov/govuk-prototype-kit-docs/tree/fr

[2022-06-22 09:37] lfdebrux commented on #22
I've renamed the main branch to `main`, and rewritten it to have all the history from from [from-govuk-prototype-kit](https://github.com/alphagov/govuk-prototype-kit-docs/tree/from-govuk-prototype-kit)

You may have some issues next time you try to do a pull of the govuk-prototype-kit-docs repo.

If you’re doing any work on changing docs for the prototype kit, from now onwards please base it off h

[2022-06-22 09:37] lfdebrux commented on #22
I'm going to now go through the open PRs in the prototype kit repo to see what needs to be moved to this repo.

[2022-06-22 09:41] lfdebrux commented on #22
I think the only PRs of interest are:

- https://github.com/alphagov/govuk-prototype-kit-docs/issues/37
- https://github.com/alphagov/govuk-prototype-kit/pull/1329
- https://github.com/alphagov/govuk-prototype-kit/pull/1379

I've left comments to that effect on the PRs, will move them when the requesters are ready.

[2022-06-22 09:52] lfdebrux commented on #3
The app govuk-prototype-kit-docs already exists on Heroku, originally owned by @joelanman. He's transferred ownership to design-system-developers@digital.cabinet-office.gov.uk now.

[2022-06-22 10:06] lfdebrux commented on #3
To be able to connect Heroku to this repo I had to give the user @govuk-design-system-ci admin access. I noticed that the collaborators on this repo aren't consistent with the collaborators on govuk-prototype-kit, so I'll also fix that now.

[2022-06-22 10:16] lfdebrux commented on #3
I also had to change some config vars and turn the app into a pipeline so that we could use review apps, but https://govuk-prototype-kit-docs.herokuapp.com now works, and deploys to main will go there.

[2022-06-22 15:32] #3 closed, assigned to lfdebrux

[2022-06-22 15:33] lfdebrux commented on #4
Going to do this now. My plan is

1. Disconnect the Heroku pipeline govuk-prototype-kit from the repo govuk-prototype-kit
2. Connect the Heroku pipeline govuk-prototype-kit to the repo govuk-prototype-kit-docs
3. Rename the Heroku pipeline and app govuk-prototype-kit-docs to govuk-prototype-kit-review
5. Disconnect the Heroku pipeline govuk-prototype-kit-review from the repo govuk-prototype-kit-do

[2022-06-22 15:42] lfdebrux commented on #4
This went ahead pretty much according to plan :)

https://govuk-prototype-kit.herokuapp.com/docs is now deployed from the code in https://github.com/alphagov/govuk-prototype-kit-docs

https://govuk-prototype-kit-review.herokuapp.com/ is now deployed from the code in https://github.com/alphagov/govuk-prototype-kit

[2022-06-22 15:43] #4 closed, assigned to lfdebrux

[2022-06-22 15:47] lfdebrux opened #25 "Version of govuk-prototype-kit downloaded is based on the version number in this repo"
## What

Change the download route to point users to the latest release archive, rather than relying on the version number in the package.json file of this repo.

## Why

Currently the code to create the download link is a legacy from when this site was part of the prototype kit repo. Now the two have been split we probably want a different release process for this site, and to be able to make a r

[2022-06-28 13:51] lfdebrux opened #26 "Pin the version of the update script downloaded to the latest release"
## What

Change the download route so that the update script served to users is the version of the code in the tree for the latest release tag.

## Why

This means that the contents of the update script are predictable and tied to the version of the kit that the script is updating to.

## Who needs to work on this

Developer

## Who needs to review this

Developer

## Done when

- [x] `docs/update

[2022-06-29 09:15] lfdebrux commented on #37
This work needs to be moved to the [alphagov/govuk-prototype-kit-docs](https://github.com/alphagov/govuk-prototype-kit-docs) repo.

[2022-06-29 14:45] lfdebrux commented on #26
I think to do this safely, we should also change the update script to pin the version downloaded; otherwise you could get a scenario during a release where a user downloads the update script for the old version, which then proceeds to download the files for the new version, and applies the update wrongly.

Of course, for the current 12.1.1 situation, the update script doesn't already have the vers

[2022-07-05 13:16] joelanman opened #115 "Use the new `value` feature in Frontend"
## Context
[GOV.UK Frontend has a new feature to set values in components](https://github.com/alphagov/govuk-frontend/releases/tag/v4.2.0). We should update the kit/docs (the `checked` function is covered in the tutorial)

## Alternatives
Currently the kit has a function called `checked` that achieves the same thing. Maybe we can retire it in favour of `values`

## Done when

- [ ] Documentation i

[2022-07-05 14:00] 36degrees commented on #115
Related proof of concept I put together previously – https://github.com/alphagov/govuk-prototype-kit/pull/1316

I think all form components _except date input_ could be extended in the same way to pre-populate values from the data object.

[2022-07-13 14:24] joelanman opened #28 "The site is being blocked by AVG Web Shield"
## Description of the issue
Our site is being blocked by AVG Web Shield

## Steps to reproduce the issue
With AVG Web Shield installed, go to the Prototype Kit site

## Actual vs expected behaviour
The page should load, instead it is blocked by AVG

<img width="549" alt="Screenshot: Multiple threats secured. We've blocked the threat URL:Phishing on https://govuk-prototype-kit.herokuapp.com/docs/in

[2022-07-19 12:30] lfdebrux commented on #26
#29 updates the route as needed. It includes a separate commit with the workaround for v12.1.1, so that it can be easily removed with a `git revert` when we've published v13.

[2022-07-19 15:08] joelanman opened #30 "People often get the syntax for using data in a component wrong"
on support, people often try something like this:
[code]

when the correct syntax is

[code]

we do cover this in the tutorial but maybe it would help to have a guide page too

[2022-07-28 09:11] #26 closed, assigned to nataliecarey

[2022-08-11 11:32] joelanman opened #110 "Document how to show parts of a page or component based on data"
From support:

Need to know how to show parts of a page or component based on data, for example:

[code]

and

[code]
with the key part being `if (data['example'] == true)`

## Related documentation
Not sure we have any

## Suggestion
None yet apart from covering the topics as above

## Evidence (where applicable)
From multiple support requests

[2022-08-30 11:15] nataliecarey opened #35 "Create tests for code examples and templates"
## What

The templates in the docs used to have tests when they were part of the main package, now they're hosted separately they no longer have tests.  With the kit being released to NPM we should be able to test that using the code examples and templates in a kit works.

## Why

So that our code is reliable and usable in the latest version of the kit.

## Who needs to work on this

Developer

##

[2022-08-31 12:35] #37 closed, assigned to lfdebrux, nataliecarey, NoraGDS

[2022-09-21 12:17] lfdebrux opened #46 "Review tests for docs site"
## What

Define what we want to test in this repo, and what we don't want to test.

Make sure that the current tests fit these expectations.

## Why

Currently the tests can start to fail if the kit changes, even if the docs haven't changed. This probably isn't the behaviour we want, especially when we want to raise a PR that changes only content and we have to worry about tests failing for reason

[2022-09-21 13:12] lfdebrux opened #47 "Tests are running latest v13 beta even though this isn't what we want"
## Description of the issue

PR #42 tried to ensure that the tests would run with v13 alpha 3 (v0.0.1-alpha.3), but tests are still running with v13 beta 1 (v0.0.1-beta.1), which is contributing to them failing.

## Steps to reproduce the issue

Run `node cypress/scripts/run-starter-prototype.js`

Check version of kit by visiting http://localhost:3000

## Actual vs expected behaviour

Expect versi

[2022-09-22 08:51] lfdebrux commented on #47
Fix for this is in PR https://github.com/alphagov/govuk-prototype-kit-docs/pull/48.

[2022-09-22 10:19] #47 closed, assigned to lfdebrux

[2022-09-30 12:56] #22 closed, assigned to nobody

[2022-10-07 15:41] Izabela-16 opened #53 "Fix tests on PRs as they keep breaking"
## What
Fix the tests.

## Why
The last few content PRs the tests have broken for unrelated reasons

## Who needs to work on this
Developers

## Who needs to review this
Developers

## Done when

- [ ] We have stable test on this repo

[2022-10-07 16:06] lfdebrux commented on #53
Related to #46.

[2022-10-07 16:08] joelanman commented on #53
@lfdebrux oh that looks like it covers it more thanks, shall we close this one?

[2022-10-13 08:30] #53 closed, assigned to nobody

[2022-10-18 13:50] ruthhammond commented on #46
@BenSurgisonGDS @joelanman @lfdebrux to discuss this in greater detail.
Not a priority until v13 release has happened.

[2022-10-20 14:06] joelanman opened #58 "Change guidance to talk about Node 18 when it's released as LTS"
## What

Change our guidance to talk about Node 18, not 16, when it becomes LTS (long term support) on the 25 of October

## Why

If we tell people to use 16, it's hard to find. Node's home page always links to the current LTS version

## Who needs to work on this

- content designer

## Who needs to review this

- content designer

## Done when

- [ ] References to Node 16 have been updated to 18

[2022-10-20 14:08] joelanman commented on #58
the PR for the last time we did this is here:
https://github.com/alphagov/govuk-prototype-kit/pull/1127

[2022-10-25 09:52] lfdebrux opened #59 "Create branch for v13 docs"
## What

Set up the repo so that we can start working on the v13 docs. Create a new branch called `v13`, which has two copies of the current docs, one in a folder `docs/v12`, and one in a folder `docs/v13`. Each copy should also have separate stylesheets and assets so that they can look different in future.

We can then setup this branch to be deployed separately on Heroku as a preview.

## Why

W

[2022-10-25 10:09] lfdebrux opened #60 "Update docs to release GOV.UK Prototype Kit 12.3.0"
## What

Update the docs to serve users the release archive for v12.3.0 of the GOV.UK Prototype Kit.

## Who needs to work on this

Developer

## Who needs to review this

Developer

## Done when

- [x] Users downloading the prototype kit from the website get v12.3.0

[2022-10-26 09:09] joelanman opened #61 "Investigate getting a gov.uk domain"
## What

Investigate getting a gov.uk domain for the Prototype Kit site

## Why

 - as an official gov.uk service we should have a domain
 - Some users are getting blocked on our current domain

[2022-10-26 09:11] joelanman commented on #61
Meeting GOV.UK policy team on Thursday

[2022-10-26 09:54] lfdebrux commented on #58
Created #62 to address this.

[2022-10-26 10:19] lfdebrux commented on #60
PR #63 addresses this.

[2022-10-26 14:41] #60 closed, assigned to lfdebrux

[2022-10-26 14:51] joelanman opened #65 "Clarify that the kit does not run on static hosting services like GitHub Pages and Netlify"
From support:

We get questions about whether the Kit can run on Netlify and GitHub pages. The documentation says

But this does not seem to be clear enough.

Suggestion:

[2022-10-26 15:03] #58 closed, assigned to lfdebrux

[2022-10-28 09:05] joelanman opened #66 "Answer the questions needed for a domain"
## What

Questions:

1. [x] What are our nameservers/DNS?
2. [x] What domain do we want?
3. [x] How do users get to the Prototype Kit site from GOV.UK?

## Why

We need to answer these to get a domain

## Who needs to work on this

 - interaction designer
 - content designer
 - developer

## Who needs to review this

 - interaction designer
 - content designer
 - developer

## Done when

- [x] We

[2022-10-28 09:06] joelanman commented on #66
DNS notes:

https://docs.google.com/document/d/1e6C-r7diOtcsJLvqmrr5vwcHZY3PA-NJZvlu_dzhVUQ/edit#heading=h.fhalre5w7w9r

[2022-11-01 09:58] joelanman commented on #66
We'd need to set up a redirect app to take people from the old domain to the new one

[2022-11-01 10:10] joelanman opened #70 "Redirect users and search engines from the old domain to the new one"
## What

Redirect users and search engines from the old domain to the new one

## Why

Users shouldn't get broken links because we've moved domains

## Who needs to work on this

 - developers

## Who needs to review this

 - developers

## Done when

- [x] We are able to redirect users from the old to the new domain

[2022-11-01 13:40] lfdebrux opened #71 "Configure custom domain"
blocked on #66

DNS propagation can take time

## What

Set up the docs app with a custom domain on `.gov.uk` so we're no longer on `.herokuapps.com`.

## Why

We want the website to look more legitimate and make the association with GDS/GOV.UK clearer.

## Who needs to work on this

Developer, PM

## Who needs to review this

Developer, PM

## Done when

- [x] Ensure Heroku automatic certificate

[2022-11-01 14:48] joelanman commented on #61
We met for discussion, agreement reached, follow up: #66

[2022-11-01 14:48] #61 closed, assigned to joelanman

[2022-11-01 15:00] lfdebrux commented on #70
We should use 301 permanent redirects for this.

This is what as Heroku recommends https://devcenter.heroku.com/articles/custom-domains#configuring-dns-for-subdomains, apparently we will still have the `govuk-prototype-kit.herokuapp.com` domain, and can check the `Host` header for the origin. Not sure how SSL works, but oh well 🤷

[2022-11-01 15:17] joelanman commented on #70
nice find, just pasting the relevant bit for ease of reference:

[2022-11-03 09:36] lfdebrux commented on #70
I don't think we can pick this up until we've done #71.

[2022-11-03 09:51] joelanman opened #73 "Images are broken"
All the images seem to be broken, for example

Screenshot has gone missing from this page:

https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/use-components

[2022-11-03 09:53] joelanman opened #74 "Navigation is broken"
On some pages the breadcrumbs and navigation menu links are all broken, for example:

https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/use-components

https://govuk-prototype-kit.herokuapp.com/docs/install/run-the-kit

[2022-11-03 09:59] lfdebrux commented on #74
This is because of changes made in #69 to use relative links. I didn't consider what it would mean having relative links in the [page layout template](https://github.com/alphagov/govuk-prototype-kit-docs/blob/main/docs/v12/views/layout.html) when URLs can have different levels of nesting.

I'll take a look at fixing this now.

[2022-11-03 10:08] joelanman opened #75 "Tutorial refers to idPrefix which is no longer needed"
The tutorial and example code on this page refer to `idPrefix`, which has been removed from the Design System example, we can remove it too

https://govuk-prototype-kit.herokuapp.com/docs/make-first-prototype/use-components

[2022-11-03 10:19] lfdebrux commented on #73
This is probably related to the issue #74 and the changes in #69.

I'll look at this now.

[2022-11-03 11:52] #73 closed, assigned to lfdebrux

[2022-11-03 11:52] #74 closed, assigned to lfdebrux

[2022-11-03 15:04] lfdebrux commented on #59
Branch/draft PR in https://github.com/alphagov/govuk-prototype-kit-docs/pull/72

[2022-11-03 15:06] lfdebrux commented on #59
Calling this done.

[2022-11-03 15:06] #59 closed, assigned to lfdebrux

[2022-11-08 15:13] lfdebrux commented on #66
We've agreed that we want to use a CNAME in the GOV.UK DNS service, like Design System, for simplicity.

[2022-11-08 15:14] #66 closed, assigned to joelanman

[2022-11-08 15:17] joelanman opened #79 "Add a warning banner to v12 docs"
## What

Add a warning banner to ever page of v12 docs as per the Figma design:

https://www.figma.com/file/sWnqT4u4uup91TuTe9T3tp/GOV.UK-Prototype-Kit-information?node-id=163%3A2

## Why

Users need to know they are looking at an old version of the site and a newer one is available

## Who needs to work on this

- developer

## Who needs to review this

- developer

## Done when

- [x] Visual des

[2022-11-08 15:20] joelanman opened #80 "Add inset text to documentation telling people that certain pages have changed from v12 to v13"
## What

Add inset text telling people that certain pages have changed from v12 to v13, and linking to the old version

## Why

Some users are likely to need the old version of certain pages, as they are still using v12

## Who needs to work on this

- content designer
- developer

## Who needs to review this

- content designer
- developer

## Done when

- [x] We know what pages need this
- [ ] T

[2022-11-08 15:29] lfdebrux commented on #71
@joelanman to copy me into the email thread with policy and engagement (who do domain name registration) so I can loop in GOV.UK hostmasters and get our CNAME set up.

[2022-11-08 16:18] #75 closed, assigned to nobody

[2022-11-09 08:41] lfdebrux commented on #71
I've configured Heroku to add the domain, and I've emailed the details of where to point the CNAME to to the GOV.UK hostmaster, copying in policy and engagement. Hostmaster came back with an automated reply saying they would aim to action in five working days. I did check before configuring the domain in Heroku that ACM was enabled, however after configuration I got an email saying that ACM had fa

[2022-11-09 11:55] lfdebrux commented on #80
@joelanman did you have any thoughts about which pages would need this, or is it up to the people who pick up the ticket to decide?

[2022-11-09 11:56] lfdebrux commented on #79
@joelanman where should the link in the banner take the user?

[2022-11-09 12:04] joelanman commented on #79
I think to the home page.

[2022-11-09 12:07] joelanman commented on #80
the first Done When should probably be me and/or Nora, and probably easier after we're actually done adding all the content

[2022-11-10 12:03] lfdebrux commented on #79
@joelanman do we want the banner on the example template pages, for example https://prototype-kit-docs-v13.herokuapp.com/v12/docs/templates/question

[2022-11-10 13:00] joelanman commented on #79
hmm great question.. if its at all hard, I wouldn't bother for now we can always come back to it

[2022-11-10 13:24] lfdebrux commented on #79
Not hard at all, just wanted to check what your design intent was.

[2022-11-10 13:46] joelanman commented on #79
ok cool then add it thanks!

[2022-11-10 13:51] lfdebrux commented on #79
PR for this change is at https://github.com/alphagov/govuk-prototype-kit-docs/pull/83.

Preview is viewable at https://prototype-kit-docs-pr-83.herokuapp.com/v12/docs.

[2022-11-11 14:43] joelanman opened #86 "Add a section on the home page linking to what's new in v13"
## What

Add a section on the home page linking to what's new in v13.

## Why

v13 is a big new release and users need to understand what's changed

## Who needs to work on this

 - interaction designer
 - content designer
 - developer

## Who needs to review this

 - interaction designer
 - content designer
 - developer

## Done when

- [x] Content for new page drafted
- [x] Home page update desi

[2022-11-11 16:11] #79 closed, assigned to nobody

[2022-11-17 13:21] joelanman opened #88 "Download link is broken on page 'How to install the kit'"
The install link on this page is broken

https://govuk-prototype-kit.herokuapp.com/docs/install/install-the-kit

[2022-11-17 13:23] lfdebrux commented on #88
Specifically, the link in the breadcrumb, `href=./install`

[2022-11-17 13:25] lfdebrux commented on #88
Also needs to be fixed on other pages at `/docs/install/*`

[2022-11-17 13:26] joelanman commented on #88
sorry I wasnt specific I meant `download it as a zip` but the one you mentioned is broken too

[2022-11-17 13:39] lfdebrux commented on #71
DNS configuration has proceeded: https://govuk.zendesk.com/agent/tickets/5122340. Might take a while for changes to propagate fully, but `dig` shows something promising:

[code]

(edited to hide herokudns subdomain)

[2022-11-17 13:43] lfdebrux commented on #71
I've retried the ACM configuration by running `heroku certs:auto:refresh`

[code]

It can take up to an hour after the DNS configuration has been verified for the certificate to be generated: https://devcenter.heroku.com/articles/automated-certificate-management#view-your-certificate-status

[2022-11-17 13:45] lfdebrux commented on #71
`curl` and Chrome can't resolve the host however, so let's give it some time before getting too excited.

[2022-11-17 13:53] #88 closed, assigned to nobody

[2022-11-17 16:09] lfdebrux commented on #71
prototype-kit.service.gov.uk CNAME is now in 8.8.8.8, Heroku ACM cert has been issued, and I can go to https://prototype-kit.service.gov.uk and see the docs website.

Calling this ticket done.

[2022-11-17 16:10] #71 closed, assigned to lfdebrux, joelanman

[2022-11-17 16:52] joelanman commented on #80
'link to v12' Column added to the content tracker:

https://docs.google.com/spreadsheets/d/1WRxf35hqzDDKYhERbkGbKF7kgthB1aXnDw04tLcvovo/edit#gid=144370392

[2022-11-18 10:04] lfdebrux commented on #70
Questions: do we want to redirect from the old URL to the new (v13) docs, or the old (v12) docs? And are we happy with a 301 redirect, so people will be able to keep using and sharing the old URL without necessarily realising that the site has moved?

[2022-11-18 10:11] joelanman commented on #70
- to the new docs, so I think just a domain replace with the same path should work
- yeh 301 is fine, usage of the old domain will die out over time and the redirect will work in the meantime. For a single or small number of pages it might be nice to explain why something has moved (eg the concept has changed) but for a whole site I think just redirect

[2022-11-18 15:08] lfdebrux opened #92 "Page templates cannot use Nunjucks in Markdown pages, and vice versa"
### Cause

We only render pages using Markdown or Nunjucks, not both.

### Consequence

We can't use Nunjucks macros or includes in Markdown pages, which makes writing them harder, as we don't get benefits of reusability and centralisation.

### Impact of debt

Medium

Makes some things a lot harder, but for most pages it's fine

### Effort to pay down

Medium/High

Would be straightforward to do

[2022-11-18 15:10] lfdebrux opened #93 "Documentation pages don't automatically refresh when developing locally"
### Cause

We have Browsersync installed for local development, but it doesn't work with documentation pages, because originally the code was based around the prototype kit, where docs were not supposed to be edited by users.

### Consequence

We install packages we don't use, and editing locally is more effortful than it needs to be.

### Impact of debt

Low

### Effort to pay down

Low (to just

[2022-11-18 15:17] joelanman commented on #92
I think it's worth redesigning the docs on a proper production stack like Eleventy, that would also tackle this issue and #93

[2022-11-18 15:42] #70 closed, assigned to nobody

[2022-11-21 09:15] #80 closed, assigned to joelanman

[2022-11-21 15:01] lfdebrux opened #100 "GOV.UK Design System depends on Prototype Kit website previews of templates"
### Cause

In the v13 docs, we removed the templates from the website. We did this because the plugin architecture means templates are now decoupled from the version of the kit a user has. They might have different templates, or different versions of the same template, to what we show on the website. As the kit also now has a better built-in way to preview what a page would look like once created

[2022-11-21 15:13] lfdebrux commented on #100
The obvious solution is to install the plugins we want previews of, and render the templates from those for v13. However, that does raise some follow-on questions, like what happens when we have v14, do we want to freeze the v13 plugin versions? Which plugins do we want previews of? And it doesn't address the issue of users having different versions of templates in their prototypes.

It feels to m

[2022-11-21 15:56] lfdebrux opened #101 "We have two copies of the privacy page, cookies page, accessibility statement and similar on our website"
### Cause

We decided that we would leave the v12 pages pretty much untouched when we created the v13 pages. However, that means that the old privacy policy, accessibility statement and cookies page are still available at `/v12/docs/...`, and those are different pages from the v13 versions at `/docs/...`.

### Consequences

If we update one set of pages but not the other we could end up with two d

[2022-11-21 16:03] lfdebrux opened #102 "The docs website requires a server-side rendering app"
### Cause

For the passing data from page to page example, we use server side sessions to store user data in the same way the prototype kit does.

### Consequence

This means that to serve at least this part of the website we can't generate static HTML, we need an app, so we need to host the website on a service like Heroku. This means higher environmental impact and higher running costs.

### Imp

[2022-11-21 16:03] harrythompsondwp opened #107 "Adding conditional content guidance to tutorials"
## Suggestion

### Using condition content
As far as I can see there's no good guidance on using conditional content, using nunjucks syntax. But I've used and seen it used in quite a few GDS prototypes, and had to teach myself how to do it. I've written the attached guide for colleagues at Opencast, but I figure this would be a useful addition to the tutorials section of the kit. Happy for any of

[2022-11-21 16:04] lfdebrux commented on #102
We could just remove the examples, or rewrite them to guide the user through doing an experiment with their own prototype. Alternatively, we could try reimplementing a facsimile of the behaviour in JavaScript?

[2022-11-21 16:08] lfdebrux opened #103 "The docs repo includes code to collect usage data information that we don't want or need"
### Cause

We created the docs as a fork of the prototype-kit repo, and we haven't yet gotten around to removing the usage data code.

### Consequence

We have code that we don't want or need, and it is confusing.

### Impact of debt

Low

### Effort to pay down

Low

[2022-11-22 12:55] joelanman commented on #102
I'm not entirely sure the example is needed, if it is and we decide to go static, another option is to run examples as a separate app and link to it

[2022-11-22 13:07] joelanman opened #106 "Update docs now that Step by Step is now a plugin"
### What

Update https://prototype-kit.service.gov.uk/docs/tutorials-and-examples and https://prototype-kit.service.gov.uk/docs/create-pages-from-templates now that step by step is a plugin.

### Why

This page talks about Step by step even though it is no longer included in the kit and has to be installed as a plugin. We could either remove the references, or clarify you need to install it.

###

[2022-11-23 11:42] ruthhammond commented on #86
@joelanman please add link to design

[2022-11-23 11:46] joelanman commented on #86
design here (internal):
https://www.figma.com/file/sWnqT4u4uup91TuTe9T3tp/GOV.UK-Prototype-Kit?node-id=163%3A2&t=5Iar9tBFbcFhEFRs-0

[2022-11-24 14:51] #28 closed, assigned to nobody

[2022-11-24 14:51] joelanman commented on #28
We have a proper URL now so this shouldn't happen

[2022-11-24 16:08] harrythompsondwp commented on #107
Updated version attached with better guidance on data notation. i.e. {{data['name']}} is better than {{data.name}} as it allows for hyphens in the name tag.
[Conditional content v2.pdf](https://github.com/alphagov/govuk-prototype-kit/files/10086047/Conditional.content.v2.pdf)

[2022-11-24 17:46] joelanman opened #108 "v13 docs are duplicated on two different paths"
## What

v13 docs are duplicated, they are available here:

https://prototype-kit.service.gov.uk/docs/tutorials-and-examples

and here:

https://prototype-kit.service.gov.uk/v13/docs/tutorials-and-examples

We may want to remove the /v13/ version

## Why

Having duplicate pages is confusing for users and bad for search engines - I'm not sure what the value is of having the duplication, possibly a

[2022-11-24 18:22] joelanman commented on #110
related: #107

[2022-11-24 18:22] joelanman commented on #107
related: #110

[2022-11-25 08:06] lfdebrux commented on #108
This was done on purpose, so we'd have a permalink URL to v13 docs that would work both now and in the future when v14 comes out. It shouldn't cause issues with search engines though, the route has`noindex` on it, same as the v12 route (see commit https://github.com/alphagov/govuk-prototype-kit-docs/commit/0ffb68c14701d1a3f739ece67f194f3f1a93bd54).

Regarding issues with users, could you add more

[2022-11-25 09:22] joelanman commented on #108
Ok thanks I wasn't aware we'd done this and was confused. I'm not sure what our user need is for a permalink to v13 docs? What is the advantage over archiving it on a v13 path if and when we need to?

This is not from a report from a user, but if they were to find or get a link to v13 somehow then when we update the link would still go to v13, as opposed to the normal url which gets updated.

[2022-11-25 10:04] lfdebrux commented on #108
If we want to write a document that will be around for a long time without getting updated, and we want to link to our docs, and we suspect that the docs page might change in future versions. For instance, if I was writing a git comment about a change to the plugins page, and wanted to link to the docs page for context, I would use the permalink.

Yeah, that's the idea. As above when you would use

[2022-11-25 10:08] joelanman commented on #108
ok cool thanks

[2022-11-25 10:08] #108 closed, assigned to nobody

[2022-11-25 13:59] #86 closed, assigned to joelanman

[2022-11-29 15:30] lfdebrux commented on #100
@lfdebrux to attach list of usages by GOV.UK Design System website for this ticket.